/*Counts padding as part of the width*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties*/

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Oswald', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #235175;
    --clr-accent-hover: #3c89c3;
    --clr-subtitle: #ffa64d;
  
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 4em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong { 
  font-weight: var(--fw-bold); 
}

/*Navigation bar*/

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  background: var(--clr-accent);
  z-index: 10;
  height: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 15px;
}

#navbar a, #project-grid a, #show-all {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

#navbar a {
  padding: 12px 40px 13px 40px;
  line-height: 50px;
}

#navbar a:hover {
  background: var(--clr-accent-hover);
}

/*Welcome section*/
#welcome-section {
  position: relative;
  padding: 6em 0em;
}

#welcome-section img {
  box-shadow: var(--bs);
}

#welcome-section h1 {
  font-weight: var(--fw-reg);
  font-size: var(--fs-h1);
  line-height: 1;
  margin: 0;
}

#welcome-section h1 strong {
    display: block;
}

#welcome-section h2 {
  display: inline-block;
  background: var(--clr-subtitle);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  line-height: 1;
  margin: 0;
}

@media (min-width: 600px) {
    #welcome-section {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    #welcome-section img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    #welcome-section h2 {
        grid-area: subtitle;
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/*  My services section  */

#my-skills {
  background-color: var(--clr-dark);
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--clr-light);
  text-align: justify;
}

#my-skills h2 {
  color: var(--clr-subtitle);
  position: relative;
  text-align: center;
  font-size: var(--fs-h2);
}

#my-skills h2::after {
  content: '';
  display: block;
  width: 2.5em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

#skills {
  margin-bottom: 3em;
}

#skill {
  max-width: 500px;
  margin: 0 auto;
}

.skills-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  #skills {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
    
  #skill + #skill {
    margin-left: 4em;
  }
}

/*About me section*/

#about {
  max-width: 1000px;
  margin: 0 auto;
}

#about h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

.subtitle {
  background: var(--clr-subtitle);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  font-size: var(--fs-h3);
}

#about img {
  box-shadow: var(--bs);
}

#about-body {
  text-align: justify;  
}

@media (min-width: 600px) {
  #about {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
    grid-column-gap: 2em;
  }
    
  #about h2 {
    grid-area: title;
  }
    
  .subtitle {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  
  #about img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* Projects section*/

#projects {
  background-color: var(--clr-dark);
  text-align: center;
  color: white;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3em;
  justify-items: center;
  justify-content: center;
}

#project-title {
  display: block;
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}

.project-tile {
  overflow: hidden;
  border: 0.605em  var(--clr-accent) solid;
  border-radius: 0.3125em;
  cursor: pointer;
  height: 370px;
}

.project-tile img {
  margin-top: -1.6em;
  height: 300px;
  transition: transform 500ms cubic-bezier(.5, 0, .5, 1);
}

.project-tile p {
  position: relative;
  z-index: 2;
  padding: 0.5em 0.5em;
  font-weight: var(--fw-reg);
  background: var(--clr-accent);
}

.project-tile:hover p {
  background: var(--clr-accent-hover);
}

.project-tile:hover {
  border: 0.605em var(--clr-accent-hover) solid;
  border-radius: 0.3125em;
  background: var(--clr-accent-hover);
}

.project-tile:hover img {
  transform: scale(1.2);
}

#show-all {
  position: relative;
  top: 2em;
  padding: 0.625em;
  background: var(--clr-accent);
  border-radius: 0.3125em;
  display: table;
  margin: 0 auto;
}

#show-all:hover {
  background: var(--clr-accent-hover);
}

/* Contact section*/

#contact {
  background: #111;
  color: var(--clr-light);
}

#contact-text {
  text-align: center;
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

#contact-flex {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

#profile-link {
  font-size: var(--fs-h3);
  text-decoration: none;
  margin: 0 .5em;
  color: var(--clr-light);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

#profile-link:hover {
  transform: translateY(8px);
}